body,
html {
  font-family: "Anonymous Pro", monospace;
  word-wrap: break-word;
  font-weight: bold;
  scroll-behavior: smooth;
}

body {
  margin: 8px;
  background-image: linear-gradient(
    to top,
    #f2f5f8 0%,
    rgb(229, 225, 225) 100%
  );
}

main {
  display: flexbox;
  width: 100%;
  margin: 0 auto;
}

table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  background-color: #b1e198;
  margin-bottom: 50px;
}

table,
th,
td {
  border: 1px solid;
}

thead {
  text-align: left;
  height: 40px;
  font-size: 22px;
}

th,
td {
  padding: 10px;
}

tr {
  font-weight: lighter;
}
tbody tr:nth-child(even) {
  background-color: #ebf6e5;
}

tbody tr {
  background-color: #cce2c2;
  font-size: 18px;
}

table.css {
  background-color: #98b1e1;
}

.css tbody tr {
  background-color: #c2d6e2;
}

.css tbody tr:nth-child(even) {
  background-color: #e5f0f6;
}

nav {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  width: 15rem;
  margin-top: 25px;
}

@media screen and (max-width: 1120px) {
  nav {
    display: none;
  }
}

nav ul {
  border: 1px solid rgb(49, 49, 49);
  margin-top: 0px;
}

* li {
  list-style: none;
}

nav li {
  border-bottom: 1px solid rgb(49, 49, 49);
}
nav a {
  text-decoration: solid;
  font-weight: bolder;
}
ul li:last-child {
  border-bottom: none;
}

.force__right {
  display: flex;
  top: 0;
}

.information {
  width: max(50%, min(600px, 80%));
  margin: auto;
  margin-bottom: 100px;
  padding-top: 50px;
}

.buttons,
.buttons__css {
  padding: 0px;
}
.buttons a,
.buttons__css a {
  display: block;
  padding: 0.75rem;
  color: black;
}

.buttons a:active,
.buttons a:focus,
.buttons a:hover {
  background-color: #b1e198;
  color: #000000;
}
.buttons__css a:active,
.buttons__css a:focus,
.buttons__css a:hover {
  background-color: #98b1e1;
  color: #000000;
}

h1 {
  text-align: center;
  font-size: 48px;
}

.nav__header {
  font-size: 24px;
}

h2 {
  text-align: center;
  font-size: 32px;
}

h3 {
  font-size: 24px;
}
